//$font-ge-regular: 'FiraGo', sans-serif;
//$font-ge-caps: 'ArchyEDT', sans-serif;

//$font-en-regular: 'barlow-regular', sans-serif;
//$font-en-caps-regular: 'barlow_condensedregular', sans-serif;
//$font-en-caps-medium: 'barlow_condensedmedium', sans-serif;
//$font-en-caps-semibold: 'barlow_condensedsemibold', sans-serif;

//$font-ru-regular: 'FiraGo', sans-serif;
//$font-ru-caps: 'Sanrus', sans-serif;

$color-black:         #000000;
$color-white:         #FFFFFF;
$color-brand-primary: #D81E46;

// $container-max-widths: (
//   sm: 540px,
//   md: 720px,
//   lg: 960px,
//   xl: 1260px
// ) !default;